.puzzle-board {
    padding: 80px;
}

.practice-mode1 {
    color: #FFF;
    margin-left: 45%;
    padding-top: 12px;
    font-size: 24px;
    font-weight: 900;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

.practice-mode1:hover {
    color: #FFD700;
}

/* Bid section styles */
.bid-section {
    width: 600px;
    height: auto;
    border: 1px solid #ff0000;
    border-radius: 10px;
}

.play-now {
    color: rgb(153, 255, 0);
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    font-family: poppins, sans-serif;
    font-weight: 1000;
}

.modes-selector {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 17px;
    font-family: poppins, sans-serif;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    gap: 60px;
    justify-content: center;
}

/* Recent bids section styles */
.recent-bids-section {
    width: 600px;
    height: auto;
    border: 1px solid #ff0000;
    border-radius: 10px;
}