.puzzle-board {
    padding: 80px;
}

.practice-mode1 {
    color: #FFF;
    margin-left: 45%;
    padding-top: 12px;
    font-size: 24px;
    font-weight: 900;
    font-family: poppins, sans-serif;
    cursor: pointer;
}

.practice-mode1:hover {
    color: #FFD700;
}

/* Bid section styles */
.bid-section {
    width: 600px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 10px;
}

.play-now {
    color: #FFD700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 900;
}

.hr {
    border: 0;
    height: 1px;
    background: #444;
    margin: 10px 0;
}

.modes-selector {
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: poppins, sans-serif;
    font-weight: 900;
    cursor: pointer;
    display: flex;
    grid-template-columns: repeat(2, 1fr);

    gap: 60px;
    justify-content: center;
}

.mode {
    border-radius: 28px;
    font-family: poppins, sans-serif;
    font-size: 16px;
    padding: 6px;
}

.mode:hover {
    color: #FFD700;
    background-color: rgb(12, 12, 139);
}

.quick-options1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 16px 20px 20px 20px;
    font-weight: bold;
}

.quick-options2 {
    border: 1px solid #fff;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

.quick-options2:hover {
    background-color: rgb(12, 12, 139);
    color: #FFD700;
}

.custom-amount-input {
    width: 60%;
    padding: 10px;
    margin-left: 22%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    border-radius: 26px;
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 24px;
}

.place-bid-btn {
    width: 80%;
    padding: 10px;
    margin-left: 12%;
    background: linear-gradient(to right, #10b981, #14b8a6);
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 26px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.bid-info {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 12px;
}

/* Recent bids section styles */
.recent-bids-section {
    width: 600px;
    height: auto;
    border: 1px solid #ff0000;
    border-radius: 10px;
}